
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="pag_inicial.html">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Professores</li>
    </ol>
</nav>

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Link para o CV</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Aparecido Freitas</td>
            <td>
                <a href="http://lattes.cnpq.br/7066902372313632">Clique aqui</a>
            </td>
            
        </tr>
        <tr>
            <td>Marcos Furlan</td>
            <td>
                <a href="http://lattes.cnpq.br/5269353063539434">Clique aqui</a>
            </td>
          
        </tr>
        <tr>
            <td>Murilo Zanini</td>
            <td>
                <a href="https://maua.br/graduacao#">Clique aqui</a>
            </td>
        </tr>

        <tr>
            <td>Lucas Coelho</td>
            <td>
                <a href="http://lattes.cnpq.br/4460361441303140">Clique aqui</a>
            </td>
        </tr>

    </tbody>
</table>